/**
 * {{&summary}}
 * @object
 * @name {{&className}}#{{&objectName}}
 * 
 */
{{#isExtending}}
class {{&objectName}} extends {{&extends}} {
{{/isExtending}}
{{^isExtending}}
class {{&objectName}} {
{{/isExtending}}
    constructor({{&propertiesAsParameters}}) {
        {{#isExtending}}
            super({{&parentPropertiesAsParameters}});
        {{/isExtending}}
        {{#properties}}
            {{#isDate}}
                this.{{name}} = {{name}} ? new Date({{name}}) : null;
            {{/isDate}}
            {{#isArray}}
                this.{{name}} = {{name}} ? {{name}} : [];
            {{/isArray}}
            {{#isPrimitive}}
                this.{{name}} = {{name}};
            {{/isPrimitive}}
        {{/properties}}
    }
}

{{&className}}.prototype.{{&objectName}} = {{&objectName}};